@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic,700,900);
li {
  display: inline;
}
.topLinks {
  font-family: 'Lato';
  font-weight: 900;
  font-size: 140%;
  margin-top: 5px;
  text-decoration: none;
}
.sMIHolder {
  list-style:none;
}
.headerSection {
  height:50px;
  vertical-align: middle;
  padding: 6px 0 8px;
  border-bottom-style: solid;
  border-bottom-width: thin;
}
#socialMediaIcons {
  border-width: thin;
  border-style: solid;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  text-align: center;
  margin-top: 5px;
  padding-top: 3px;
  color:grey;
}
#socialMediaIcons:hover {
  background-color: red;
}
