@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic,700,900);

body {
  font-family: Lato;
}
li {
  display: inline;
}
.topLinks {
  font-family: 'Lato';
  font-weight: 900;
  font-size: 140%;
  margin-top: 5px;
  text-decoration: none;
}
.sMIHolder {
  list-style:none;
}
.headerSection {
  width: inherit;
  height:50px;
  vertical-align: middle;
  padding: 6px 0 8px;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-color:lightgrey;
}
#socialMediaIcons {
  border-width: thin;
  border-style: solid;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  text-align: center;
  margin-top: 5px;
  padding-top: 3px;
  color:grey;
}
#socialMediaIcons:hover {
  background-color: red;
}
.toolBarSection {
  width:inherit;
  height: 100px;
  /*background-color: red;*/
  display: flex;
  justify-content: space-between;
  /*align-items:center;*/
  margin-top: 25px;
  /*padding-top: 11px;*/
  padding-left: 50px;
  text-align: center;
  /*position: relative;*/

}
.logo {
font-family:Lato;
 font-weight:600;
 color:#58c5e1;
 font-size:18px;

}
.toolbarHolder {
  float: right;
  width:80%;
  font-family: Lato;
  font-size:19px;
  display:flex;
  justify-content: space-around;
  margin-top: 25px;
  /*vertical-align: middle;*/
  /*background-color: blue;*/
}
.navTab {
  border-style: solid;
  border-color: lightgrey;
  border-width: thin;
  /*padding:10px;*/
  text-align: center;
  text-decoration: none;
}
.pageLink {
  color:black;
  width: 200px;
  height: 40px;
  background-color: white;
  border: none;
}
.pageLinkerH {
  color:black;
  width:200px;
  height: 40px;
  background-color: white;
  border: none;
}
.homeTab {
  height: 100%;
  position:relative;
  background-color: white;
}
.pageLinkerA {
  color:black;
  width:200px;
  height: 40px;
  background-color: white;
  border: none;
}
.aboutTab {
  height: 100%;
  position: relative;
}
.pageLinkerC {
  color:black;
  width:200px;
  height: 40px;
  background-color: white;
  border: none;
}
.contactTab {
  height:100%;
  position: relative;
}
.pageLink:hover {
  text-decoration: none;
  color: #58c5e1;
  background-color: #eff2f7;
}
.pageLinkerH:hover {
  text-decoration: none;
  color: #58c5e1
}
.pageLinkerA:hover {
  text-decoration: none;
  color: #58c5e1
}
.pageLinkerC:hover {
  text-decoration: none;
  color: #58c5e1
}
.newPatientsTab {
  height: 100%;
  position: relative;
}
.newPatientsDropdown {
  margin-top: 38px;
  display: none;
}
.colorNewLine {
  background-color: #58c5e1;
  height:7px;
  width: 100px;
  position: absolute;
  bottom:0;
  z-index: 2;
  left:70px;
  display:none;
}
.servicesTab {
  height: 100%;
  position: relative;

}

.servicesDropdown {
  margin-top:38px;
  display: none;
}
.colorSerLine {
  background-color: #58c5e1;
  height:7px;
  width: 100px;
  position: absolute;
  bottom:0;
  z-index: 2;
  left:70px;
  display:none;
}
.wellnessLibraryTab {
  height:100%;
  position: relative;
}
.wellnessLibraryDropdown {
  margin-top: 38px;
  display: none;
}
.colorWelLine {
  background-color: #58c5e1;
  height:7px;
  width: 100px;
  position: absolute;
  bottom:0;
  z-index: 2;
  left:70px;
  display:none;
}
.testimonialsTab {
  height:100%;
  position: relative;
}
.testimonialsDropdown {
  margin-top: 38px;
  display: none;
}
.colorTestLine {
  background-color: #58c5e1;
  height:7px;
  width: 100px;
  position: absolute;
  bottom:0;
  z-index: 2;
  left:70px;
  display:none;
}
.colorHomeLine {
  background-color: #58c5e1;
  height:7px;
  width: 100px;
  position: absolute;
  bottom:0;
  z-index: 2;
  left:-20px;
  display:none;
}
.colorAboutLine {
  background-color: #58c5e1;
  height:7px;
  width: 100px;
  position: absolute;
  bottom:0;
  z-index: 2;
  left:-10px;
  display:none;
}
.colorContactLine {
  background-color: #58c5e1;
  height:7px;
  width: 100px;
  position: absolute;
  bottom:0;
  z-index: 2;
  left:-10px;
  display:none;
}
.homePic {
  width:100%;
  height:50vh;
}
.mainFooter {
  /*background-color: red;*/
  width: 100%;
  height:50vh;
  position: relative;

}
.topFooter {
  background-color: #ecf0f1;
  /*background-color: red;*/
  width:100%;
  height:100%;
  border-top: 10px solid #58c5e1;
  /*padding: 44px 0 0;*/
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 50px;
  display:inline-flex;
  font-family: "Lato";

}
.bottomFooter {
  /*background-color: blue;*/
  width: 100%;
  /*height: 20px;*/
  position: absolute;
  bottom:0;
  padding: 24px 0;
  border-top: 1px solid #cbd0d4;
  text-align: center;
  background: #e3e7e9;
  font-weight: 700;
  font-family:"Lato";
  font-size: 15px;
  color: #58c5e1;
}
.contactFootDiv {
  margin-bottom: 30px;
  font-family: "Lato";
  width: 25%;
}
.hoursFootDiv {
  width: 25%;
  margin-left: 50px;
  height: 80%;
}
.hoursTable {
  border: solid;
  border-width: thin;
  border-color: lightgrey;
}
table {
  text-align: center;
  width: 100%;
  height: 80%;
  font-family: 'Lato';
}

td {
  border:solid;
  border-width: thin;
  border-color:lightgrey;
  text-align: center;
}
tr:hover {
  background-color: white;
}
/*.pageLink:visited {
  color:black;
}*/
