@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic,700,900);

body {
  font-family: Lato;
}
li {
  display: inline;
}
.topLinks {
  font-family: 'Lato';
  font-weight: 900;
  font-size: 140%;
  margin-top: 5px;
  text-decoration: none;
}
.sMIHolder {
  list-style:none;
}
.headerSection {
  width: inherit;
  height:50px;
  vertical-align: middle;
  padding: 6px 0 8px;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-color:lightgrey;
}
#socialMediaIcons {
  border-width: thin;
  border-style: solid;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  text-align: center;
  margin-top: 5px;
  padding-top: 3px;
  color:grey;
}
#socialMediaIcons:hover {
  background-color: red;
}
.toolBarSection {
  width:inherit;
  height: 100px;
  /*background-color: red;*/
  display: flex;
  justify-content: space-between;
  /*align-items:center;*/
  margin-top: 25px;
  /*padding-top: 11px;*/
  padding-left: 50px;
  /*position: relative;*/

}
.logo {
font-family:Lato;
 font-weight:600;
 color:#58c5e1;
 font-size:18px;

}
.toolbarHolder {
  float: right;
  width:80%;
  font-family: Lato;
  font-size:19px;
  display:flex;
  justify-content: space-around;
  margin-top: 25px;
  /*vertical-align: middle;*/
  /*background-color: blue;*/
}
.navTab {
  border-style: solid;
  border-color: lightgrey;
  border-width: thin;
}
