<div>
  <div class="headerSubBar">

  </div>
  <div class="faqParas">
  <p style="font-size:24px; font-weight:300;">
Can chiropractic care help with headaches?
  </p>
</br>
  <p>
    The central nervous system, which comprises of our brain and spinal cord, is the only system that is directly protected by bones. These bones make up our spine. When specific bones in your neck are out of position and unable to move properly, it can put stress on your nervous system and on surrounding muscles which can result in headaches. Chiropractic care can be a very effective and non-invasive approach to preventing and relieving headaches regardless of the type of headache (tension vs migraine) or cause (stress vs posture).
</br>
</br>
It is important to get a chiropractic evaluation to determine the best course of action to not only reduce the frequency of these headaches but to get rid of the headaches all together.
  </p>
</br>
</div>
</br>
<div class="faqParas">
<p style="font-size:24px; font-weight:300;">
Why am I getting headaches after an auto accident?
</p>
</br>
<p>
  During the impact of an accident your neck is forcibly "whipped" back and forth and side to side past its normal range of motion. As a result whiplash injuries can affect the muscles and tissues in your back and neck. Stiffness, back pain and/or neck pain can ensue immediately or take days, weeks or even months to appear. It is crucial to treat whiplash immediately even if you are not yet experiencing neck or back pain.
</br>
</br>
  Headaches and migraines are common symptoms that can occur as a result of whiplash injuries or any type of motor vehicle injury. Headaches may appear when specific vertebrae in your neck is restricted and out of position due to the impact of an accident. Sprained neck muscles can cause pain to radiate to your head. Any injuries or traumas to your head can cause headaches and migraines. If you are experiencing headaches after your car accident, then you should get treated as soon as possible so that your headache pain does not become permanent.
</br>
</br>
  At Roseville Auto Accident Injury Chiropractic we specialize in whiplash injuries to get you being functional and back to normal.
</p>
</br>
</div>
</br>
<div class="faqParas">
<p style="font-size:24px; font-weight:300;">
Can Chiropractic care help with neck pain?
</p>
</br>
<p>
  Chiropractic care has been shown to be effective at helping both acute neck pain and chronic neck pain. Acute neck pain may be felt as a sharp pain in the neck, and you may not be able to turn your head. Chronic neck pain can also arise from poor posture and sedentary work, such as sitting at a desk working on a computer. This type of pain is often described as a dull achy discomfort which is often accompanied with stiffness. In both situations, specific vertebrae in the neck and upper back may be problematic resulting in neck pain. Supporting our spine are muscles, ligaments and tendons; all of which can form scar tissue, further complicating the healing process. Chiropractic adjustments are aimed to help keep the joints working properly, reduce stiffness, reduce pain, reduce muscle tension and increase function.
</br>
</br>
  Most patients don’t want to just mask the pain with just medication, unfortunately that is all that most doctors offer. At Roseville Auto Accident Injury Chiropractic we treat neck pain with advanced techniques that focus on repairing function to your nervous and musculoskeletal system. This is the best way to reduce pain and return to normal function.
</p>
</br>
</div>
</br>
<div class="faqParas">
<p style="font-size:24px; font-weight:300;">
Why do I get neck pain following an auto accident?
</p>
</br>
<p>
  Whiplash injuries occur when there is a sudden forced movement of the head or neck in any direction which can cause a rebound in the opposite direction. Surrounding and supporting tissues of the neck and head will be affected. Consequently, the surrounding muscles begin to tighten, contract and fatigue quicker resulting in pain and stiffness. Car accidents are the most common cause of whiplash.
</br>
</br>
  It is vital to get a proper evaluation to determine how to get you feeling better without the use of medication, which is designed to mask the pain, not treat the cause of the pain. At Roseville Auto Accident Injury Chiropractic we specialize in recovery from automobile injuries and focus on correction of one’s ailments.
</p>
</br>
</div>
</br>
<div class="faqParas">
<p style="font-size:24px; font-weight:300;">
Can chiropractic help with shoulder pain?
</p>
</br>
<p>
  When people experience shoulder pain, it can radiate all the way down the arm and cause the person to have limited movement. Whether it’s from a sports injury or sleeping on it the wrong way, pain in the shoulder can be quite painful.
</br>
</br>
  Often shoulder pain can be accompanied by neck and back pain. When the shoulder hurts, it can cause the body to respond in a negative manner such as poor posture or restricted range of motion resulting in poor biomechanics elsewhere. Therefore it is important for the chiropractor to accurately diagnose the problem before any treatment can start. Shoulder issues are tricky because it is typically multifaceted and require one to look at the entire shoulder girdle, not just the shoulder joint itself.
</br>
</br>
  If you are unsure of your diagnosis, or severity of your condition, you should seek advice before beginning any self-treatment.
</p>
</br>
</div>
</br>
<div class="faqParas">
<p style="font-size:24px; font-weight:300;">
What if my symptoms did not begin immediately?
</p>
</br>
<p>
Often times, pain and/or symptoms of injury are delayed following a car crash. The soft tissues (muscles, tendons, discs, ligaments, etc.) are commonly stretched and/or microtorn in an automobile accident. This leads to an inflammatory reaction that takes time to build up with the soft tissue. Often patients mask their initial symptoms with pain medications and are unaware of the level of their pain and stiffness until these medications wear off.
</p>
</br>
</div>
</br>
<div class="faqParas">
<p style="font-size:24px; font-weight:300;">
Can chiropractic help with carpal tunnel?
</p>
</br>
<p>
  The carpal tunnel is in your wrist and the nerves going through this structure may be irritated causing lots of problems such as pain, tingling, numbness and weakness of the fingers, hands and wrist. One out of 10 people suffers from Carpal Tunnel Syndrome (CTS), usually affecting domestic workers, secretaries, computer users, musicians and others who do repetitive tasks with their hands.
</br>
</br>
  Your wrist problem may be a misalignment of one or more joints in your neck, shoulder, elbow or wrist. Chiropractic techniques that work so well with the spine can be applied to other joints of the body. Virtually every joint is susceptible to fixations and malfunctions that impair function and range of motion. Trauma, micro-traumas, vibrations and repetitive motions are often culprits.
</br>
</br>
  Carpal tunnel is often the go to diagnosis for any type of wrist pain, tingling/numbness or weakness. Many times, the cause of wrist pain/challenges originates in the neck. Therefore it is important to get a proper chiropractic evaluation to see what the best course of action is.
</p>
</br>
</div>
</br>
<div class="faqParas">
<p style="font-size:24px; font-weight:300;">
Can Chiropractic help with elbow discomfort?
</p>
</br>
<p>
  Elbow pain is commonly due to overuse involving the muscles and tissues of the outside of the elbow (tennis elbow) or the inside of the elbow (golfer’s elbow). Through repetitive strain, the muscles and tendons of the forearm become tight and irritated. Pain comes from tiny tears in the muscles and tendons. As the body tries to heal these tears, scar tissue forms, which causes the tissues to become tighter, weaker and more pain sensitive.
</br>
</br>
  Your chiropractor will make sure that this is the correct diagnosis and that the problem is not bursitis, a radial or ulnar nerve entrapment, or another condition.
</p>
</br>
</div>
</br>
<div class="faqParas">
<p style="font-size:24px; font-weight:300;">
Once I go to the Chiropractor, will I have to go forever?
</p>
</br>
<p>
  Pain is a common reason why people initially go to the Chiropractor. Chiropractic treatment helps people to function and feel better. People report having less pain, greater freedom of movement, better sleeping patterns and an improved sense of well-being. Due to daily stress such as work, commuting, emotional stress and lack of time for one's self can all be hard on the body. Many people use chiropractic "maintenance care" to function at an optimal state of health. The frequency of treatment depends on lifestyle factors such as exercise, stress reduction and nutrition to name a few.
</br>
</br>
  At Roseville Auto Accident Injury Chiropractic, our goal is to correct and stabilize your spinal condition with the intent of you feeling better faster. Once that is accomplished, continued care is up to you.
</p>
</br>
</div>
</br>
<div class="faqParas">
<p style="font-size:24px; font-weight:300;">
  Can Chiropractic help out with lower back pain?
</p>
</br>
<p>
  Many things can cause lower back pain ranging from: sports or work injuries, sleeping on a poor quality mattress, household chores or something as simple as picking up your baby or child 10 times a day can cause lower back pain. Low back pain can occur if your job involves lifting and carrying heavy objects, or if you spend a lot of time sitting or standing in one position or bending over. It can be caused by a fall or exercise. Whatever the cause is, lower back pain is usually caused when a vertebrae or spinal segment is out of its normal position and puts stress on one’s nervous system. Additionally the muscles or ligaments in the lower back can become weak, the spine loses its stability, resulting in pain. Because nerves reach all parts of the body from the spinal cord, back problems can lead to pain or weakness in almost any part of the body.
</br>
</br>
  Chiropractors are experts in lower back pain and can pinpoint your problem and get you back to a healthy and pain-free state.
</br>
</br>
  Most patients don’t want to just mask the pain with medication, unfortunately that is all that most doctors offer. At Roseville Auto Accident Injury Chiropractic we address back pain with advanced techniques that focus on repairing function to your nervous system and musculoskeletal system. This is the best way to reduce pain and return to normal function.
</p>
</br>
</div>
</br>
<div class="faqParas">
<p style="font-size:24px; font-weight:300;">
I was in a car accident, could that have an impact on experiencing sciatica?
</p>
</br>
<p>
Yes, after we experience trauma from sudden force, the spinal column along with soft tissues such as tendons, ligaments, fascia and muscles can shift. This unexpected force can cause a vertebrae to bulge, resulting in sciatic nerve compression. If you experienced an auto accident, we cannot stress enough how important it is to see a chiropractor immediately. Even if you are not experiencing pain we can help restore spinal alignment to avoid any future flare ups.
</p>
</br>
</div>
</br>
<div class="faqParas">
<p style="font-size:24px; font-weight:300;">
What is sciatica and can chiropractic care help alleviate some of the symptoms?
</p>
</br>
<p>
  Sciatica is generally caused by nerve compression in the low back. Sciatic nerve compression may result in sensory loss, loss of bowel and bladder function, and loss of strength. Sciatica typically occurs when a vertebrae or soft tissue is impinging on the sciatic nerve due to repetitive stress, poor ergonomics or even due to a trauma. The purpose of chiropractic treatment is to restore the body’s potential to heal itself. It is based on the scientific principle that restricted spinal movement leads to pain, reduced function and performance. Chiropractic care is non-invasive and drug free. The type of chiropractic therapy depends on the cause of the patient’s sciatica.
</br>
</br>
  Don’t just put a band aid over sciatic pain by relying on medication. Correct the cause of sciatica by getting an evaluation and address the underlying cause. Discover and see if chiropractic care can benefit you.
</p>
</br>
</div>
</br>
<div class="faqParas">
<p style="font-size:24px; font-weight:300;">
Can Chiropractic Care help out with dizziness and vertigo?
</p>
</br>
<p>
  Vertigo can be defined as a sense of motion while one is stationary. The condition normally originates in the vestibular system in the middle ear but can also be caused by dysfunction in the brain. Because of the severity of the symptoms that can ensue such as nausea, vomiting, blurred vision, excessive sweating and unsteady gait, a person’s quality of life can be severely affected. Many times vertigo and dizziness can be linked to upper neck dysfunction which can be helped through chiropractic care.
</br>
</br>
  There is no drug or pill that can correct vertigo if it is due to upper neck involvement. Seek out professional advice to see if chiropractic care can help out with your vertigo.
</p>
</br>
</div>
</br>
<div class="faqParas">
<p style="font-size:24px; font-weight:300;">
Can Chiropractic Care help with hip pain?
</p>
</br>
<p>
  Walking (gait) changes due to biomechanical injury such as an ankle sprain or knee strain, can generate hip pain. Your gait may also shift to counterbalance new body demands such as a job change, an alteration in the way you sit, a new sport or activity, or if you start driving for long periods of time on a regular basis. The point is, anything that generates an asymmetry or imbalance when you are in motion can cause painful hip problems. Many times hip pain is also related to lower back discomfort.
</br>
</br>
  Your Chiropractor can help in many of these areas. Along with your adjustments, as part of the chiropractic management of your hip problem. They will also offer appropriate progressive rehabilitative exercises that include muscle stretching and strengthening.
</br>
</br>
  The fact is hip pain won’t disappear on its own. Hip pain indicates that something needs to be corrected. Get out of pain, get back in balance, and get your life back now! Call Our office. We know what to do to help you!
</p>
</br>
</div>
</br>
<div class="faqParas">
<p style="font-size:24px; font-weight:300;">
Should I let my medical doctor know I'm considering Chiropractic Care?
</p>
</br>
<p>
In many cases, you do not need a referral to make an appointment for a chiropractic evaluation. Chiropractors are portal of entry doctors, meaning you do not need a referral to see a chiropractor unlike some health care specialties such as physical therapy. If you have health care insurance, check with your company to see if your health care coverage includes chiropractic benefits. If not, the doctor can come up with a special individualized plan to make your care affordable. Finances will not be a hindrance for you to get the care that you may possibly need and deserve.
</p>
</br>
</div>
</br>
<div class="faqParas">
<p style="font-size:24px; font-weight:300;">
When Should I go?
</p>
</br>
<p>
If you have a spine, call today. You should get your spine checked whether you have pain or not! Do you see a dentist every 6 months? Why? To check for cavities you can't feel! So why wait until your spine hurts to see if your spine is out of place? GET CHECKED TODAY!
</p>
</br>
</div>
</br>
</div>
