<div>
  <div class="headerSubBar">
    <p style="font-size:60px; color:white;">
      First Visit
    </p>
  </br>
  <div class="headerSWHolder">
    <a ui-sref="home" class="headerSubBarLink">Home</a> <p style="color:white;"> > </p>   <p class="headerSubBarS">New Patients </p>  <p style="color:white;"> > </p>   <p class="headerSubBarS">First Visit</p>
  </div>
  </div>
  <div class="firstVisitPara">
    <div class="halfPagePara">
      <p class="subHeader">
    Why Can We Serve You Best?
      </p>
    </br>

    <p>
          <span style="font-size:50px;font-weight:300;color:#3498db;float: left;    margin: 12px 10px 0 0;">1</span>
      In addition to our proven track record (look at our patient testimonials) we specialize in individualized treatments. You, are a unique person whose body holds those falls we experienced in childhood all the way to doing work at our computers. We find the treatment that is best for you. Our specialty is bringing your long-lasting relief so you can get back to your living!
    </p>
    </div>
    <div class="halfPagePara">
      <p class="subHeader">
    What You Can Expect
      </p>
    </div>
  </div>
</div>
