<div style="margin-bottom:200px;">
  <div class="headerSubBar">
    <p style="font-size:60px; color:white;">
      First Visit
    </p>
  </br>
  <div class="headerSWHolder">
    <a ui-sref="home" class="headerSubBarLink">Home</a> <p style="color:white;"> > </p>   <p class="headerSubBarS">New Patients </p>  <p style="color:white;"> > </p>   <p class="headerSubBarS">First Visit</p>
  </div>
  </div>
  <div class="firstVisitPara">
    <div class="halfPagePara">
      <p class="subHeader">
    Why Can We Serve You Best?
      </p>
    </br>

    <p>
          <span style="font-size:50px;font-weight:300;color:#3498db;float: left;    margin: 12px 10px 0 0;">1</span>
      In addition to our proven track record (look at our patient testimonials) we specialize in individualized treatments. You, are a unique person whose body holds those falls we experienced in childhood all the way to doing work at our computers. We find the treatment that is best for you. Our specialty is bringing your long-lasting relief so you can get back to your living!
    </p>
  </br>
  <p>
        <span style="font-size:50px;font-weight:300;color:#3498db;float: left;    margin: 12px 10px 0 0;">2</span>
We combine modern treatments with the individual care that keeps our satisfied patients coming back to us throughout the years. Ask & see how our treatments can benefit you. Feel the difference of our personalized method & how it gives you relief.
  </p>
</br>
<p>
      <span style="font-size:50px;font-weight:300;color:#3498db;float: left;    margin: 12px 10px 0 0;">3</span>
Roseville Auto Accident Injury Chiropractic individualizes your best treatment plan & offers a comprehensive orthopedic and neurological exam. We provide any necessary diagnostic X-Rays, as well. Our care gives immediate & long-lasting relief, as ensured by fine tuning your treatment plan.
</p>
    </div>
    <div class="halfPagePara">
      <p class="subHeader">
    What You Can Expect
      </p>
      <p>
        When the cause of stress is removed, what do you feel? Relief.
</br>
</br>
At Roseville Auto Accident Injury Chiropractic our patients have experienced:
      </p>
    </br>
      <ul style="text-align:left; font-size:18px;">
        <li class="checkLi">
          Immediate Relief
        </li>
      </br>
        <li class="checkLi">
          More Energy
        </li>
        </br>
        <li class="checkLi">
          Increased Mobility
        </li>
        </br>
        <li class="checkLi">
          More Vitality & Productivity
        </li>
        </br>
        <li class="checkLi">
          Increased Stamina Through Heightened Flexibility & Mobility
        </li>
        </br>
        <li class="checkLi">
          Happier Lives From Healthier Bodies
        </li>
        </br>
        <li class="checkLi">
          Visit Us to See & Feel the Benefits For Yourself and Your Family
        </li>
      </ul>
    </div>
  </div>
  <div class="firstVisitPara">
    <div style="width:30%;">
      <p class="subHeader">
    Specialized Treatment
      </p>
      <p>
        At Roseville Auto Accident Injury Chiropractic you benefit from our personalized approach. Since pain may be originating at a source distant from your immediate discomfort, we offer an examination that includes:
      </p>
      <ul style="text-align:left; font-size:18px;">
        <li class="checkLi">
          Detailed Comprehensive History
        </li>
      </br>
      <li class="checkLi">
        Thorough Orthopedic and Neurological Examination
      </li>
    </br>
    <li class="checkLi">
      Diagnostic Spinal X-Rays
    </li>
  </br>
  <li class="checkLi">
   Chiropractic Adjustments focused for Nervous System Strength
  </li>
</br>
      </ul>
    </div>
    <div style="width:30%;">
      <p class="subHeader">
    Payment Options
      </p>
      <p>
        Our success depends on bringing you ease both physically & economically. You experience this ease since we offer a variety of flexible payment options. We base our fees on the quality of materials we use and our level of expertise in performing your needed chiropractic treatment.
</br>
</br>
For the convenience of our patients, we accept the following payment methods:
      </p>
      <div style="display:flex; justify-content:center">
        <ul style="text-align:left; font-size:18px; width:50%;">
          <li class="checkLi">
            Cash
          </li>
          <li class="checkLi">
            Discover
          </li>
          <li class="checkLi">
            Care Credit
          </li>
          <li class="checkLi">
            Master Card
          </li>
        </ul>
        <ul style="text-align:left; font-size:18px; width:50%;">
          <li class="checkLi">
            American Express
          </li>
          <li class="checkLi">
            Visa Card
          </li>
          <li class="checkLi">
            Personal Checks
          </li>
        </ul>
      </div>
    </div>
    <div style="width:30%;">
      <p class="subHeader">
    Insurances
      </p>
      <p>
        Insurance can be complicated. We specialize in making it easy for you. We will be happy to file insurance claims and verify benefits as a courtesy to you. Please bring all necessary insurance information with you on your first visit. We are happy to bill all traditional insurance plans.
</br>
</br>
Feel free to contact us with any questions pertaining to your insurance benefits at <a href="tel:+19169340101">(916) 634-0101</a>
      </p>
    </div>
  </div>
</div>
