<div>
  <div class="headerSubBar">
    <p style="font-size:60px; color:white; font-weight:300;">
      Applied Kinesiology
    </p>
  </br>
  <div class="headerSWHolder">
    <a ui-sref="home" class="headerSubBarLink">Home</a> <p style="color:white;"> > </p>   <p class="headerSubBarS">Services </p>  <p style="color:white;"> > </p>   <p class="headerSubBarS">Applied Kinesiology</p>
  </div>
  </div>
  <div style="margin-top:100px;margin-left:20%;margin-right:20%; margin-bottom:300px;">
    <img src="../img/blog_applied_kinesiology.jpg" />
  </br>
</br>
</br>
    <p class="subHeader">
      Applied Kinesiology
    </p>
    <p>
      Applied kinesiology is a science that started almost 50 years ago with its founder George Goodheart. Dr. Goodheart found that some people would not respond to regular chiropractic care. He became proficient at testing muscles around a specific area of complaint. He found that if he could fix the muscles, the patient would have better results. This evolved into finding that each muscle has a relationship with each organ, and that sometimes a person’s problem does not resolve unless a functional organ or glandular problem is addressed.
</br>
</br>
Applied kinesiology involves hundreds of specific techniques, including cranial work, allergy testing and desensitization, neuro-vascular and neurolymphatic treatmemt, lymphatic drainage, detoxification, nutrition, foot stabilization through myofascial release, adjustments, and orthotic stabilization.
</br>
</br>
Millions of people worldwide have found health and wellness through applied kinesiology that years of medical doctors and “regular” chiropractor appointments couldn’t fix. For many, it is considered a miracle treatment.
    </p>
  </br>
  <p class="subHeader">
    What is Applied Kinesiology?
  </p>
  <p>
    Kinesiology is the study of the anatomy, physiology, and mechanics of body movement. Applied kinesiology makes use of these basic sciences in evaluating health. Applied kinesiology includes a technique of muscle testing to identify weaknesses, not only in the muscle, but due to other factors that can cause the weakness, such as imbalanced nutrition or hormones, joint instability, or emotions.
</br>
</br>
Through applied kinesiology, Dr. Brian can determine underlying causes of pain and other health issues and treat the whole body, not just the joints. Applied kinesiology involves many techniques. Going to a kinesiologist is like going to a naturopath, physical therapist, acupuncturist, massage therapist and nutritionist all in one.
  </p>
  </div>
</div>
